:root {
  --theme-primary-color: #fff;
  --theme-secondary-color: #072146;
}
* {
  box-sizing: border-box;
}
.body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.header {
  background-color: var(--theme-secondary-color);
}
.header-nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__link-logo-container {
  margin: 0;
  width: 70px;
}
.header-nav__link-logo {
  width: 100%;
}
.header-nav__menu-icon {
  color: #fff;
}
.header-nav__link-list {
  display: none;
}
.header-nav__link-item {
  list-style: none;
}
.header-nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}
.header-nav__link--color {
  color: #f8cd51;
  font-weight: bold;
}
.header-nav__link--bg-color {
  background-color: #028484;
  padding: 1rem 0.5rem;
  font-weight: bold;
}
/* Slider */
.header-slider {
  background-color: #004481;
}
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider__list {
  display: flex;
  width: 500%;
  padding-left: 0;
  margin: 0;
  animation: slide 16s infinite ease-in-out;
}
.slider__list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.slider__item-image-one,
.slider__item-image-two,
.slider__item-image-three,
.slider__item-image-four,
.slider__item-image-five {
  height: 325px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider__item-image-one {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/marquees/2400x1600-1128.jpg.img.768.1644621690690.jpg);
}
.slider__item-image-two {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/marquees/1000x1000_version-ajustada.jpg.img.960.1644419990828.jpg);
}
.slider__item-image-three {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/marquees/despegar-mobile-enero.jpg.img.768.1642567766700.jpg);
}
.slider__item-image-four {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/marquees/tcadicional-home-1000x1000.jpg.img.960.1644418717636.jpg);
}
.slider__item-image-five {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/marquees/1000x10001.jpg.img.960.1644420006671.jpg);
}
.slider__item-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.slider__item-description-card {
  margin: 0;
  font-size: 15px;
  color: #5ac4c4;
}
.slider__item-description-title {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}
.slider__item-description-membership {
  margin: 0;
  color: #fff;
  font-size: 15px;
}
.slider__item-description-button {
  background-color: #028484;
  color: #fff;
  font-weight: bold;
  padding: 12px 32px;
  border: 0;
  font-size: 15px;
}
.color-gold {
  color: #f8cd51;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  22% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }

  42% {
    margin-left: -200%;
  }
  60% {
    margin-left: -200%;
  }

  62% {
    margin-left: -300%;
  }
  80% {
    margin-left: -300%;
  }

  82% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}
/* Products */
.products {
  padding: 2rem 0;
}
.products-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.products__title {
  margin: 0;
  font-size: 36px;
  text-align: center;
}
.products__list {
  display: flex;
  width: 300%;
  padding-left: 0;
  margin: 0;

  animation: slideproducts 10s infinite ease-in-out;
}
.product__list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0 1rem;
}
.product__item-image-container {
  max-width: 85px;
  margin: 0;
}
.product__item-image {
  width: 100%;
}
.product__item-title {
  margin: 0;
  font-size: 15px;
  color: #1973b8;
  text-align: center;
}
@keyframes slideproducts {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }

  40% {
    margin-left: -100%;
  }
  60% {
    margin-left: -100%;
  }

  70% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
/* Need */
.needed {
  background-color: #f4f4f4;
  padding: 3rem 0;
  color: #121212;
}
.needed-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
.needed__title {
  text-align: center;
  margin: 0;
}
.needed__cards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.needed__card {
  background-color: #fff;
}
.needed__card-image-container {
  margin: 0;
  width: 100%;
}
.needed__card-image {
  width: 100%;
}
.needed__card-description-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}
.needed__card-description-title {
  margin: 0;
  font-size: 22px;
}
.needed__card-description-subtitle {
  margin: 0;
  font-size: 15px;
  color: #626262;
}
.needed__card-description-about-us {
  margin: 0;
  font-size: 15px;
  color: #1973b8;
}
/* no-client */
.no-client {
  padding: 2rem 0;
}
.no-client-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}
.no-client__title {
  margin: 0;
  font-size: 24px;
}
.no-client__text {
  margin: 0;
  font-size: 18px;
}
.no-client__button {
  background-color: #072146;
  padding: 12px 64px;
  color: #f8cd51;
  border: 0px;
}
/* Blogs */
.blogs {
  background-color: #f4f4f4;
  padding: 2rem 0;
}
.blogs-container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.blogs__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 0;
}
.blogs__item {
  background-color: #fff;
  list-style: none;
}
.blogs__item-image-one,
.blogs__item-image-two,
.blogs__item-image-three {
  height: 220px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blogs__item-image-one {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/cards/card-net-cash-te-lleva-de-viaje.jpg.img.768.1556918866944.jpg);
}
.blogs__item-image-two {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/cards/card-home-tc-febrero-avion.png.img.768.1580836805553.png);
}
.blogs__item-image-three {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/cards/blog/card-comprar-dolores.jpg.img.768.1636399560215.jpg);
}
.blogs__item-description-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.blogs__item-description-title {
  margin: 0;
  font-size: 24px;
}
.blogs__item-description-text {
  margin: 0;
  color: #626262;
}
.blogs__item-description-link {
  color: #1973b8;
  text-decoration: none;
}
.app {
  padding: 2rem 0;
  background-color: #004481;
  color: #fff;
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1200px;
}
.app__title {
  margin: 0;
  font-size: 24px;
  text-align: center;
}
.app__about-us {
  margin: 0;
  text-align: center;
}
.app__service-container {
  display: grid;
  grid-template-rows: repeat(4, 208px);
}
.app__service {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem 1rem 1rem;
}
.app__service--img-one,
.app__service--img-two,
.app__service--img-three,
.app__service--img-four {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.app__service--img-one {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/cards/App-bbva.jpg.img.320.1625259318962.jpg);
}
.app__service--img-two {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/cards/Digitalizate-plin-qr.jpg.img.320.1625260001771.jpg);
}
.app__service--img-three {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/cards/walletbbva.jpg.img.320.1625259294243.jpg);
}
.app__service--img-four {
  background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/cards/Digitalizate-beneficios.jpg.img.320.1626371027263.jpg);
}
.app__service-title {
  margin: 0;
  font-size: 22px;
}
.app__service-description {
  margin: 0;
  font-size: 15px;
}
.channels {
  padding: 2rem 0;
}
.channels-container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.channels-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
  margin: 0;
}
.channels-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}
.channels-item__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  background-color: #f4f4f4;
  border-radius: 100%;
  margin: 0 auto;
}
.channels-item__img {
  width: 50%;
}
.channels-item__title {
  margin: 0;
  font-size: 22px;
  text-align: center;
}
.bell {
  padding: 2rem 0;
  background-color: #072146;
}
.bell-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.bell__image-container {
  max-width: 160px;
  margin: 0 auto;
}
.bell__image {
  width: 100%;
}
.bell__title {
  margin: 0;
  color: #f8cd51;
  font-size: 20px;
}
.bell__button {
  background-color: #028484;
  color: #fff;
  padding: 12px 32px;
  font-weight: bold;
  border: none;
}
.main-footer {
  padding: 2rem 0;
}
.main-footer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.main-footer__list-container {
  border-bottom: 1px solid #d3d3d3;
}
.main-footer__title {
  margin: 0;
  font-size: 15px;
}
.main-footer__list {
  list-style: none;
  padding-left: 0;
}
.main-footer__item {
  color: #1973bb;
  font-size: 15px;
}
@media (min-width: 850px) {
  .header-nav__menu-icon {
    display: none;
  }
  .header-nav__link-list {
    display: flex;
    gap: 2rem;
  }
  .slider__item-image-one,
  .slider__item-image-two,
  .slider__item-image-three,
  .slider__item-image-four,
  .slider__item-image-five {
    height: 600px;
  }
  .products__list {
    width: 200%;
    animation: slideproducts 5s infinite ease-in-out;
  }
  @keyframes slideproducts {
    0% {
      margin-left: 0;
    }
    50% {
      margin-left: 0;
    }
    60% {
      margin-left: -100%;
    }
    100% {
      margin-left: -100%;
    }
  }
  .needed__card--flex {
    display: flex;
    flex-direction: row;
  }
  .needed__card-image-container {
    display: flex;
    margin: 0;
    max-width: 320px;
  }
  .needed__card-image-container--width {
    max-width: 100%;
    max-height: 320px;
  }
  .needed__card-image {
    width: 100%;
  }
  .blogs__list {
    flex-direction: row;
  }
  .bell-container {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
}
@media (min-width: 1200px) {
  .slider__list-item {
    flex-direction: row-reverse;
  }
  .slider__item-image-one,
  .slider__item-image-two,
  .slider__item-image-three,
  .slider__item-image-four,
  .slider__item-image-five {
    height: 528px;
  }
  .slider__item-image-one {
    background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/marquees/1000X1000-1104.jpg.img.960.1644621690690.jpg);
  }
  .slider__item-image-two {
    background-image: url(/assets/slider-cell.jpg);
  }
  .slider__item-image-three {
    background-image: url(https://www.bbva.pe/content/dam/public-web/peru/photos/marquees/despegar-complex-enero.jpg.img.960.1642567766700.jpg);
  }
  .slider__item-image-four {
    background-image: url(/assets/slider-beach.jpg);
  }
  .slider__item-image-five {
    background-image: url(/assets/slider-bike.jpg);
  }
  .slider__item-description {
    padding: 3rem;
  }
  .slider__item-description-title {
    font-size: 40px;
  }
  .products__list {
    width: 100%;
    animation: none;
  }
  .products-container {
    max-width: 1200px;
    margin: o auto;
  }
  .needed__cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 240px);
  }
  .needed__card-image-container--width {
    max-width: 100%;
  }
  .needed__card--grid-one {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .needed__card--grid-two {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .needed__card--grid-three {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .needed__card--grid-four {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .needed__card--grid-five {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .needed__card--grid-six {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .needed__card--grid-seven {
    grid-column: 1/2;
    grid-row: 5/7;
  }
  .needed__card--grid-eigth {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .needed__card--grid-nine {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .needed__card-image-container {
    max-width: 220px;
  }
  .needed__card-image-container--width {
    max-width: 100%;
  }
  .app__service-container {
    display: grid;
    grid-template-rows: repeat(2, 308px);
    grid-template-columns: repeat(2, 1fr);
  }
  .channels-list {
    flex-direction: row;
    justify-content: space-around;
  }
  .channels-item__img-container {
    width: 200px;
    height: 200px;
  }
  .main-footer-container {
    flex-direction: row;
  }
  .main-footer__list-container {
    flex-grow: 1;
  }
}
